/*RESET*/
/*RESET*/
* {
   margin:0;
   padding:0;
   font-size: 100%;
   border: none;
   outline: none;
   font-weight: 300;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

/*Geral*/

  /*Reset2*/
body{
  background-color: #ecf0f1;
} 

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

img {
  max-width: 100%;
}

.container{
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
}

/*Fim do Reset2*/


/*Alteração de botões*/

.radius {
  border-radius: 8px;
}

.shadow{
  box-shadow: 0 0 20px #3c3c3c;
}

.btn{
  width: 40%;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
  padding: 3%;
  margin-top: 7%;
}

.destaque{
  border-bottom: 1px solid #fff;
}

/*Fim da Alteração de botões*/

/*Backgrounds & Colors*/

.bg-red{
  background: #e74c3c;
}

.bg-azul{
   background-color: #0063B2;
}

.bg-branco{
  background-color: #fff;
}

.bg-cinza{
  background-color: #34495e;
}

.bg-verde{
  background: #2ecc71;
}

.color-branco{
  color: #fff;
}

.bg-gradient{
    background: linear-gradient(to right, #3F51B5,#03A9F4);

}

/*Fim do Backgrounds & Colors*/

/*Fim do Geral*/


/*HOME*/
/*Header*/


.logo {/*logo-sujeita-alteração*/
   width: 56px; 
   height: 56px;
   float:left;
   margin-left: 4%;
   background: url(../img/logo-mobile.png) center center/56px no-repeat;
   font-size: 0;
   }



    /*Menu*/
.btn-menu{
  width: 56px;
  height: 56px;
  float: right;
  text-align: center;
  color: #c0392b;
  background-color: #fff;
  background-color: none;
  border-radius: 56px;
  cursor: pointer; 
}

.menu{
   width: 100%;
   height: 100%;
   position: fixed;
   background-color: rgba(0,0,0,0.9);
   top: 0;
   left: 0;
   display: none;
}

.btn-close{
  font-size: 2em;
  color: #fff;
  border-radius: 20px;
  float: right;
  cursor:pointer;
  margin: 4% 4% 0 0;
}

.menu ul{
  width: 100%;
  float: left;
  text-align: center;
}   

.menu li{
  padding: 1.5%;
}

.menu li a{
  font-size: 1.3em;
  color:#fff;
  padding: 1.5% 3%;
}

.menu li a:hover{
  border-bottom: 1px solid #e74c3c;
}

button a {
  color: #fff;
}

/*Fim do Menu*/

/*Fim do Header*/


/*Banner*/


.banner {
    width: 100%;
    background: url(../img/bg-2.jpg) 100% no-repeat fixed;
}

.fundo{
     background-color: rgba(231,76,60,0.8);

}

.title {
  width: 100%;
}

.title h2{
  font-size: 2.0em;
  color: #fff;
  font-weight: 700;
  border-bottom: 3px solid #fff;
  margin-top: 20%;
}

.title h3{
  font-size: 1.5em;
  color: #fff;
  margin-top: 15%;
}

.buttons button{
  margin-top: 15%;
  margin-bottom: 10%;
}

/*Fim do Banner*/


/*Serviços*/

.servico{
  width: 100%; 
  text-align: center;
  margin-bottom: 5%;
 
}

.border_servico{
  padding: 10%;
  border-radius: 7px 7px 0 0;
}

.servico i {
  color: #e74c3c;
  margin-top: 3%;
  font-size: 5em;
}

.inner{
  padding: 7%;
}

.inner h1{
  font-size: 1.3em;
  color: #fff;
  font-weight: 700;
  border-bottom: 3px solid #fff;


}

.inner h4{
  font-size: 1.2em;
  color: #f5f5f5;
  margin-top: 2%;
}

.inner p {
  margin-top: 6%;
  color: #ffffff;
  line-height: 1.5em;

}

/* Fim do Serviços*/



/*Banner2 para cadastro*/


.newsletter{
  margin-top: 12%;
}
.newsletter h2{
  font-size: 1.5em;
  color: #fff;
  font-weight: 700;
}

.newsletter h3{
  color:#fff;
}

/*Fim do Banner2 para cadastro*/


/*Footer*/

.rodape{
  width: 100%;
  float: left;
  padding: 3% 4%;
  text-align: center;
  margin-top: 15%;
  
}


.social-icons{
    border-bottom: 1px solid #fff;

}

.social-icons a{
  font-size: 1.5em;
  color: rgba(255,255,255,0.7);
  margin-right: 3%;

}
.social-icons a:last-child{
  margin-right: 0;
}
.social-icons a:hover {
  color: rgb(255,255,255);
} 

.copyright{
  margin-top: 3%;
  color: rgba(255,255,255,0.7);
}

/*Fim do Footer*/

/*Mobile First*/
/*Small Devices - Smartphones*/
@media screen and (min-width: 480px) {
  
   .container{
  padding: 1% 7%;
}

.btn-menu{
  margin-top: 2%;
}



  .logo {/*logo-sujeita-alteração*/
   width: 150px; 
   height: 80px;
   float:left;
   background: url(../img/logo.png) center center/150px no-repeat;
   font-size: 0;
   }
  
}

/*Small Devices - Tables*/
@media screen and (min-width: 768px) {

 .container{
  padding: 1% 7%;
}

.title h2{
  margin-top: 10%;
}

.title h3{
  margin-top: 5%;
}

.buttons button{
  margin-top: 5%;
}

.btn-menu{
  margin-top: 2%;
}

 .servico {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  .servico:nth-child(2){
    margin-right: 0;
  }
  
.newsletter{
  margin-top: 1%;
}

  .newsletter h2{
    font-size: 2em;
  }

  .newsletter h3{
    font-size: 1.5em;
  }
 .newsletter input{
    width: 70%;
    padding: 2%;
    float: left;
    margin-right: 1%;
  }
  .newsletter button{
    width: 29%;
    padding: 2%;
    margin-top: 2%;

  }
}   

.rodape {
  margin-top: 5%;
}


/*Medium Devices - Tables & Desktops*/
@media screen and (min-width: 960px) {

 .container{
  padding: 1% 7%;
}

.banner{
  text-align: center;
}

.title{
  width: 100%;
  text-align: center;
}

.title h2{
  font-size: 3em; 
}   

.title h3{
  font-size: 2em;
}

.buttons{
  width: 100%;
}

.btn{
  width: 33%;
  padding: 2%;
}

.btn-menu{
  margin-top: 2%;
}

/*Large Devices - Wide Screens*/
@media screen and (min-width: 1024px) {
.btn-menu{
  display: none;
}

.btn-close{
  display: none;
}

.menu {
  width: 70%;
  height: 56px;
  line-height: 56px;
  float: left;
  display: block !important;
  position: static;
  background: none;
  margin-top: 1%;
  margin-left: 5%;
}

.menu li{
  padding: 0;
  float: left;
}

.menu li a{
  color: #fff;
  font-size: 1em;
  padding: 8px;
}

.menu li a:hover{
  border-bottom: 1px solid #3c3c3c;
}

 .menu li:nth-child(2){
    margin-right: 0;
  }

  .menu button{
    display:  block !important;
  }

#btn{
    width: 17%;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    float: right;
    padding: 2%;
    margin-top: 1%;
    margin-left: 0%;
}



.title h2{
  font-size: 2.0em;
  border-bottom: none; 
}   

.title h3{
  font-size: 1.5em;
}

 .servico {
    width: 30%;
    float: left;
    margin-right: 2%;
  }

  .servico:nth-child(1){
    margin-left: 2%;
  }

  .servico:nth-child(2){
    margin-right: 2%;
  }

    .servico:nth-child(3){
    margin-right: 0;
  }

}

@media screen and (min-width: 1150px) {

  .menu{
    width: 58%;
    float: right;
  }

}

@media screen and (min-width: 1550px) {

  .menu{
    width: 45%;
    float: right;
  }

}

/*Fim da HOME*/

/*Cadastro-administrativo*/